<div class="container">
    <div class="jumbotron">
        <h3>Do you wanna tell us something?</h3>
        <p>
            If you have any questions or suggestions, feel free to contact us.
        </p>
            <div style="display: flex; align-items: center; gap: 10px; margin-bottom: 10px;">
                <span>
                    <img src="~/images/Envelope-icon24.png" />
                </span>
                <h5 style="margin: 0;"><email address="lu.bazzani@hotmail.com" content="Send an e-mail"></email></h5>
            </div>
            <div style="display: flex; align-items: center; gap: 10px; margin-bottom: 10px;">
                <span>
                    <img src="~/images/phone-app-icon.png" />
                </span>
                <h5 style="margin: 0;">+5511993640185</h5>
            </div>
            <div style="display: flex; align-items: center; gap: 10px;">
                <span>
                    <img src="~/images/Home-iconred.png" />
                </span>
                <h5 style="margin: 0;">São Paulo - Brazil</h5>
            </div>
        </p>
    </div>
</div>