<!-- model indicates that the view is strongly typed to the specified type, in this case AlbumListViewModel -->
@model AlbumListViewModel
<div>
    <h2>@Model.GenreName Albums</h2>
</div>

<div class="container">
    <div class="row">

        <!-- Model is a type specified (AlbumListViewModel) variable -->
        @foreach (var album in Model.Albums)
        {
            <partial name="_AlbumsSummary" for="@album"/>
        }

    </div>
</div>
